// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
//fonts

//color variables

:root{
    --col_one: #00f6ff;
    --col_two: #140a39;
    --col_three: #f1f1f2;
    --col_four: #3187ff;
    --col_five: rgb(241, 245, 245);
}

//end of color variables

//animation

@keyframes DissolveAnim{
    0%{
        opacity: 1;
    }

    100%{
        display: none;
        opacity: 0;
    }
  }

@keyframes FadeInAnim{

    0%{
      opacity: 0;
      
    }

    100%{
        opacity: 1;
  
      }
  }

@keyframes wave{

    0%, 100%{
        border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%;
    }

    60%{
        border-radius: 30% 70% 30% 70%/ 40% 60% 40% 60%;
    }

}

@keyframes wave2{

    0%, 100%{
        border-radius: 40% 60% 70% 30%/ 40% 40% 60% 50%;
    }

    34%{
        border-radius: 70% 30% 50% 50%/ 30% 30% 70% 70%;
    }

    67%{
        border-radius: 91% 60% 60% 94%/ 98% 83% 60% 60%;
    }

}


@keyframes slide-in{

    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }

}

@keyframes slide-out{

    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }

}

//end of animation


//some body stuff

body{
    margin: 0;
}

//end of some body stuff


//navbar styling

.Nav_container {

    background: var(--col_one);
    padding: 1em;
    position: relative;
    height: 1.2em;
    z-index: 800;

    .navlinks{

        display: none;
        font-family: "Roboto Condensed", sans-serif;
        background: var(--col_three);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        z-index: 850;
        animation: slide-in 1.5s 1;

        place-content: space-between;
        
        .side{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0;

        }


        .left{
            margin-top: 18vh;
        }

        img{
            width: 1.5em;
            position: absolute;
            left: 50%;
            transform: translateX(-60%);
            cursor: pointer;
        }

        a.Text{
            padding-left: 0.75em;
            padding: 1em;
            text-decoration: none;
            color: var(--col_four);
            text-transform: uppercase;
            font-weight: 900;
            font-size: 1.5em;

            &:hover{
                font-weight: 300;
                animation: FadeInAnim 0.5s;
            }
        }
    }
    .exit{
        display: none;
        position: fixed;
        z-index: 900;
        right: 1.5%;
        top: 3%;
        width: 1.4em;
        cursor: pointer;

    }

    .menu{
        display: block;
        position: absolute;
        right: 1.3%;
        width: 1.4em;
        cursor: pointer;
        top: 35%;
    }

}

//end of navbar styling

//landing page

.hero{
    background: var(--col_two);
    height: 94vh;
    overflow: hidden;
    scroll-behavior: smooth;

    .main-info{

        position: absolute;
        left: 10%;
        top: 16%;
        
        h1{
            font-family: "Spartan";
            color: var(--col_one);
            font-size: 12vh;
            width: 55vw;
            margin: 0.5em 0 0.45em 0;
        }

        button{
            padding: 1em;
            width: 130px;
            margin-right: 0.75em;
            cursor: pointer;
            text-align: center;
            font-size: 1em;
            font-family: "Spartan";
            font-weight: 700;
            color: var(--col_one);
            background-color: var(--col_two);
            border: 3px solid var(--col_one);
            border-radius: 2em;

            &:hover{
                background-color: var(--col_one);
                color: var(--col_two);
                animation: FadeInAnim 0.5s;
                
            }
            
        }
    }

    h3{
        color: var(--col_three);
        text-align: right;
        position: absolute;
        right: 2%;
        bottom: 0%;
        padding: 0.5em 0.5em;
        font-size: 4.5vh;
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        
    }

    .blobby{
        //maybe change to individual
        background: linear-gradient(64deg, var(--col_one) 42%, var(--col_four) 75%);
        animation: wave 8s ease-in-out infinite;

    }

    .one{
        position: absolute;
        left: -5%;
        top: 65%;
        width: 40%;
        height: 50%;
        z-index: 2;
        
    }
    
    .two{
        position: absolute;
        left: -1%;
        top: 55%;
        width: 300px;
        height: 200px;
        opacity: 25%;
        z-index: 0.9;
    }

    .three{
        position: absolute;
        right: 1%;
        top: 50%;
        width: 200px;
        height: 300px;
        opacity: 60%;
    }
     
    .four{
        position: absolute;
        left: 67%;
        top: 15%;
        width: 400px;
        height: 400px;
        opacity: 90%;
    }

    .five{
        position: absolute;
        left: 75%;
        top: 68%;
        width: 130px;
        height: 120px;
        opacity: 25%;
    }

    .six{
        position: absolute;
        left: 65%;
        top: 7%;
        width: 250px;
        height: 200px;
        opacity: 20%;
    }

    .seven{
        position: absolute;
        right: 1.2%;
        top: 10%;
        width: 68px;
        height: 70px;
        opacity: 30%;
        transform: rotate(35deg);
    }

}

//end of landing page

//About me section

section.about{

    height: 110vh;
    background-color: var(--col_three);
    position: relative;

    .about-container{

        margin-left: 6em;
        margin-right: 6em;
        padding-top: 38vh;
        width: 90;
        display: flex;
        position: relative;
        
        .Shrey{
            padding-left: 4em;
            width: 410px;
            height: 400px;
            z-index: 1;
            animation: wave2 10s ease-in-out infinite;
        }

        .blobby{
            background: linear-gradient(64deg, var(--col_one) 42%, var(--col_four) 75%);
            animation: wave2 8s ease-in-out infinite;
        }

        .eight{
            position: absolute;
            left: 20%;
            top: 25%;
            width: 200px;
            height: 200px;
            opacity: 30%;
            z-index: 0;
        }

        .nine{
            position: absolute;
            left: 2%;
            top: 40%;
            width: 250px;
            height: 250px;
            opacity: 30%;
            animation: wave2 7s ease-in-out infinite;
        }

        .ten{
            position: absolute;
            left: 26%;
            top: 85%;
            width: 100px;
            height: 100px;
            opacity: 65%;
            z-index: 2;
        }

        .text{
            margin-left: 110px;
            padding-top: 2vw;

            h1{
                color: var(--col_four);
                font-family: "Spartan";
                text-transform: uppercase;
                font-size: 2.3em;
                margin: 0;
                padding: 0 0 0.5em 0;
                font-weight: 750;
            }

            .line{
                content: "";
                height: 6px;
                width: 95%;
                background: var(--col_four);
            }

            h3{
                font-family: "Roboto Condensed", sans-serif;
                font-weight: 500;
                margin-right: 2.5em;
                font-size: 1.3vw;
                width: 95%;
            }

        }

    }
}

//End of about me section

//Skills section

section.skills{

    height: 1250px;
    background: var(--col_two);
    margin-top: -2em;

    h1{
        font-family: "Spartan";
        font-size: 2.3em;
        text-transform: uppercase;
        color: var(--col_one);
        text-align: center;
        padding-top: 2.5em;
        font-weight: 750;
    }

    .skills-container{
        display: block;

        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0.75em;

            .skill{
                display: block;
                width: 300px;
                height: 370px;
                border: 10px solid var(--col_four);
                border-radius: 2em;
                background: var(--col_five);
                padding: 2em;
                margin: 1em;
                text-align: center;
                justify-content: center;
                position: relative;

                img{
                    width: 5em;

                }

                h3{
                    font-family: "Spartan";
                    color: var(--col_four);
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.3em;
                    font-weight: 800;
                    padding-top: 0.5em;
                }

                h5{
                    font-family: "Roboto Condensed", sans-serif;
                    padding-top: -0.5em;
                    font-size: 0.9em;
                    font-weight: 350;
                }

            }

            .css{
                img{
                    width: 6.75em;
                    margin-top: -1.65em;

                }
            }

            .unity{
                img{
                    margin-top: -0.23em;
                    padding-bottom: -0.3em;
                    padding-right: 0.85em;
                    width: 5.2em;
                }
            }

            .java{
                img{
                    height: 9.1em;
                    position: absolute;
                    top: 4.1%;
                    left: 50%;
                    transform: translatex(-50%);
                }

                h3{
                    margin-top: 5.3em;
                }
            }

        }
    }

}

//End of skills section

//References Section

section.references{
    height: 800px;
    background: var(--col_three);
    margin-top: -2em;

    h1{
        font-family: "Spartan";
        font-size: 2.3em;
        text-transform: uppercase;
        color: var(--col_four);
        text-align: center;
        padding-top: 2em;
        font-weight: 750;
    }

    .instruction{
        text-align: center;
        margin: -1em;
        font-weight: 300;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    }

    .references{

        display: flex;
        position: relative;
        padding: 2em 0 0 0;


        .reference{
            position: relative;
            width: 27vw;
            height: 53vh;
            background: linear-gradient(64deg, var(--col_one) 42%, var(--col_four) 75%);
            animation: wave2 14s ease-in-out infinite;
    
            &:hover{
                .info{
                    animation-name: DissolveAnim;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                }
    
                .quote{
                    display: block;
                    animation-name: FadeInAnim;
                    animation-duration: 600ms;
                    animation-delay: 0.45s;
                    animation-fill-mode: forwards;
                    
                }
    
            }
    
            .info{
                display: block;

                    animation-name: FadeInAnim;
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                img{
                    width: 8.5vw;
                    border-radius: 50%;
                    position: absolute;
                    left: 52%;
                    transform: translateX(-50%);
                    top: 15%;
                }
    
                .bio{
                    display: block;
                    left: 52%;
                    transform: translateX(-50%);
                    width: 300px;
                    top: 52%;
                    position: absolute;
    
                    h4{
                        font-size: 12.5px;
                        font-family: "Spartan";
                        text-align: center;
                        font-weight: 450;
    
                        span{
                            font-weight: 800;
                        }
                    }
    
                }
            }

            .quote{
                display: none;
                opacity: 0;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translate(-47%, -55%);

                    animation-name: DissolveAnim;
                    animation-duration: 300ms;
                    animation-fill-mode: forwards;

                h5{
                    font-family: "Roboto Condensed", sans-serif;
                    font-size: 1.3em;
                    font-weight: 400;
                    font-style: italic; //I could have just done <em> in html but got lazy, maybe change later.
                    text-align: center;
                    width: 250px;
                    margin-left: auto;
                    margin-right: auto;
                }

                h3{
                    font-family: "Spartan";
                    text-align: center;
                    margin-top: -.5em;
                    font-size: 1.3em;
                    font-weight: 700;
                }
            }
        }

        .one{
            position: absolute;
            left: 5%;
            margin-top: 9em;

        }

        .two{
            position: absolute;
            left: 50%;
            margin-top: 2em;
            transform: translateX(-50%);
            
        }

        .three{
            position: absolute;
            right: 5%;
            margin-top: 9em;
            
        }

    }


}

//End of references section

//Contact section

section.contact{
    height: 840px;
    background: var(--col_two);
    position: relative;
    margin-top: -2em;

    h1{
        font-family: "Spartan";
        font-size: 2.3em;
        color: var(--col_one);
        text-align: center;
        text-transform: uppercase;
        font-weight: 750;
        padding-top: 2em;
    }

    .form-container{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;

        .form{
            display: flex;
            flex-direction: column;

            label{
                color: var(--col_one);
                padding-bottom: 0.5em;
                font-family: "Spartan";
                font-weight: 500;
            }

            input{
                margin-bottom: 2em;
                padding: 1em;
                font-family: "Roboto Condensed", sans-serif;
                border-radius: 2em;
                font-size: .9em;
                outline: none;
            }

            textarea{
                margin-bottom: 2em;
                padding: 1em;
                font-family: "Roboto Condensed", sans-serif;
                border-radius: 2em;
                font-size: 0.9em;
                outline: none;
            }

            button{
                padding: 1em;
                width: 150px;
                border-radius: 2em;
                background-color: var(--col_two);
                border: 3px solid var(--col_one);
                font-family: "Spartan";
                font-weight: 800;
                color: var(--col_one);
                margin-left: auto;
                margin-right: auto;
                text-transform: capitalize;

                &:hover{
                    background-color: var(--col_one);
                    border-color: var(--col_one);
                    color: var(--col_two);
                    animation: FadeInAnim 0.5s;
                }

            }
        }
    }
}

//End of contact section

//footer

footer{

    background: var(--col_three);
    margin-top: -3em;
    height: 350px;
    h1{
        font-family: "Spartan";
        font-weight: 900;
        padding-top: 4.5em;
        text-align: center;
        color: var(--col_four);
    }

    h6{
        font-family: "Roboto Condensed", sans-serif;
        color: var(--col_two);
        font-size: 0.8em;
        text-align: center;

        a{
            color: var(--col_four);
            cursor: pointer;
            text-decoration: none;
        }
    }
    
}


//end of footer section
